.container {
  flex-direction: row;
  border-bottom-width: 2;
  border-bottom-color: #112131;
  border-bottom-style: solid;
  align-items: stretch;
}
.title {
  font-family: "Roboto";
  font-size: 24;
  margin-bottom: 10;
  text-transform: "uppercase";
}
